@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url(./assets/fonts/Lexend.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(./assets/fonts/Avenir.otf);
}

@font-face {
  font-family: Cabin;
  src: url(./assets/fonts/Cabin.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets//fonts/Poppins.ttf);
}

:root {
  --white-sixty: #f1efe7;
  --black-thirty: #292929;
  --dark-blue-tenth: #055c9d;
  --light-blue-tenth: #5500ff;
  --blue-gradient: radial-gradient(
    circle,
    rgb(85, 0, 255) 0%,
    rgba(0, 0, 156, 1) 22%,
    rgba(0, 0, 0, 1) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--white-sixty);
  color: var(--black-thirty);
}

header {
  font-family: Lexend, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-family: Lexend, sans-serif;
  font-weight: 600;
  line-height: 4rem;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.primaryText {
  color: var(--dark-blue-tenth);
  font-weight: bold;
  font-size: 2rem;
  font-family: Avenir;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 1rem;
  font-family: Cabin;
}
